/*设置IOS页面长按不可复制粘贴，但是IOS上出现input、textarea不能输入，因此将使用-webkit-user-select:auto;*/

* {
    -webkit-touch-callout: none;
    /*系统默认菜单被禁用*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -khtml-user-select: none;
}

html,
body,
h1,
p {
    margin: 0;
    padding: 0;
    background-color: white;
}

#app {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 25px 0 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #222222;
}

.tip {
    margin: 0 auto;
    max-width: 90%;
    font-size: 14px;
    color: #222222;
}

.bgimg {
    margin: 20px auto 10px;
    max-width: 90%;
}

.bottom-title-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-title-wrap .bottom-title-img {
    width: 9px;
    height: 7.4px;
}

.bottom-title-wrap .bottom-title {
    font-size: 13px;
    color: #666666;
    padding-left: 5px;
}